{% extends "layout.html" %}
{% block content %}
  <div class="content">
    <title>Configuration</title>
    <h1>Configuration Parameters</h1>
  <form action="" method="post" name="config">
      {{ form.hidden_tag() }}
      <p>
          Please enter your updated parameters :<br>
          <div>{{ form.TA_distance(class="css_class") }} {{ form.TA_distance.label }}</div>
      </p>
      <div class="control-group">
             <div class="controls">
                 <input class="btn btn-primary" type="submit" value="Change">
             </div>
         </div>
  </form>
{% endblock %}
