<!-- extend from base layout -->
{% extends "layout.html" %}
{% block content %}
  <div class="content">
  <h1>Sign In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please enter your username:<br>
          {{ form.username(size=80) }}<br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <!-- <p><input type="submit" value="Sign In"></p> -->
      <div class="control-group">
             <div class="controls">
                 <input class="btn btn-primary" type="submit" value="Sign In">
             </div>
         </div>
  </form>
{% endblock %}
